moviepy==1.0.3
scenedetect
ffmpeg-python
whisper-timestamped
matplotlib
onnxruntime
torchaudio
openai
opencv-python
pytesseract
langchain
langchain-community 
langchain-core
langchain_openai
scenedetect
pytesseract
google-cloud-vision