moviepy==1.0.3
scenedetect
ffmpeg-python
whisper-timestamped
matplotlib
onnxruntime
openai
opencv-python
pytesseract
moviepy
google-cloud-vision
pandas
bert_score
deepeval.metrics
deepeval.test_case