moviepy
scenedetect
ffmpeg-python
whisper-timestamped
matplotlib
onnxruntime
torchaudio
openai
opencv-python
pytesseract
langchain
langchain-community 
langchain-core
langchain_openai
moviepy
scenedetect
pytesseract
google-cloud-vision